#include <gtest/gtest.h>

TEST(ATest, ATesta)
{
    ASSERT_TRUE(true);
    ASSERT_FALSE(false);
    EXPECT_TRUE(true);
    EXPECT_FALSE(true);

    /* EQ ==, NE !=, LT <, LE <=, GT >, GE >=
     */
    ASSERT_EQ(1,1);
    EXPECT_EQ(1,2);

    /*
     * the two C strings have the same content
     * */
    ASSERT_STREQ("aaa", "aaa");
    EXPECT_STREQ("aaa", "bbb");

    /*
     * the two C strings have different content
     * */
    ASSERT_STRNE("aaa", "bbb");
    EXPECT_STRNE("aaa", "aaa");

    /*
     * the two C strings have the same content, ignoring case
     * */
    ASSERT_STRCASEEQ("aaa", "AAA");
    EXPECT_STRCASEEQ("aaa", "AAA");

    /*
     * the two C strings have different content, ignoring case
     * */
    ASSERT_STRCASENE("aaa", "bbb");
    EXPECT_STRCASENE("aaa", "AAA");

}

int main(int argc, char*argv[])
{
    testing::InitGoogleTest(&argc, argv);
    return RUN_ALL_TESTS();
}
